html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  font-family: "PT Sans", bold;
}

img {
  width: 100%;
}

nav a {
  color: #8f2440;
}

nav a:hover {
  color: #3f1622
}

blockquote {
  font-family: "PT Serif", italic;
}
